---
permalink: /404.html
layout: default
---

<div class="text-center">
  <header>
    <h1 class="text-5xl font-bold">404</h1>
  </header>
  
  <article>
    <p>The requested page could not be found.</p>
  </article>
</div>