<footer class="flex-none w-full fixed bottom-0 bg-primary-dark text-white">
  <div class="flex justify-center py-2">
    <span>Last updated: {{ page.last_modified_at | date: '%B %d, %Y' }}.</span>
  </div>
</footer>