<header class="flex w-full justify-center bg-white border-b">

  <nav class="flex w-[80ch] justify-end p-4 gap-6">
    
    {% assign sorted_pages = site.pages | sort: 'nav_order' %}
    {% for p in sorted_pages %}
        {% if p.nav and p.autogen == null %}
          <div class="{% if p.permalink == page.permalink %}text-primary-accent{% endif %}">
            <a href="{{ p.url | relative_url }}" 
               class="hover:text-primary-accent ease-in-out duration-200 font-semibold">
              {{- p.title }}
            </a>
          </div>
        {% endif %}
    {% endfor %}

  </nav>

</header>