---
---

@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

.squish-animation {
  animation: squish 0.3s cubic-bezier(0.175,0.885,0.32,1.275) 1;
}

@media (hover: none) {
  .squish-on-click:hover {
    animation: squish 0.3s cubic-bezier(0.175,0.885,0.32,1.275) 1;
  }
}

@keyframes squish {
  0%, 
  100% {
    transform: translateY(0) scaleX(1) scaleY(1);
  }
  50% {
    transform: translateY(0.25rem) scaleX(1.1) scaleY(0.9);
  }
}

@media (hover: hover) {
  .squish-on-click {
    @apply
      duration-300 [transition-timing-function:cubic-bezier(0.175,0.885,0.32,1.275)] 
      active:translate-y-1 active:scale-x-110 active:scale-y-90;
  }
}

article h2 {
  @apply text-3xl sm:text-4xl font-bold break-words mt-6 mb-4;
}

article h3 {
  @apply text-2xl sm:text-3xl font-bold break-words mt-6 mb-4;
}

article h4 {
  @apply text-lg font-bold break-words my-4;
}

article p {
  @apply text-base my-2;
}

article a {
  @apply text-primary-accent;
}

article ul {
  @apply list-disc pl-6;
}

article ol {
  @apply list-decimal pl-6;
}

