---
layout: default
---

<div class="flex flex-row">
  <header>
    <h1>
      {{ site.name }}
    </h1>
  </header>
  <a href="https://scholar.google.com/citations?user={{ site.scholar_userid }}" title="Google Scholar"><i class="ai ai-google-scholar"></i></a>
</div>

<article>
  {{ content }}
</article>