<!doctype html>
<html lang="{{ site.lang }}">
  
  <!-- Head -->
  <head>
    {% include head.liquid %}
  </head>

  <!-- Body -->
  <body class="flex flex-col w-full min-h-screen">

    <!-- Header -->
    {% include header.liquid %}

    <!-- Content -->
    <div class="flex grow justify-center place-items-center my-12 mx-8">
      {{ content }}
    </div>

    <!-- Footer -->
    {% include footer.liquid %}

  </body>
</html>