---
layout: default
---

<div class="w-full max-w-[80ch]">

  <header class="text-center">
    <h1 class="mb-6 text-4xl sm:text-5xl font-bold break-words">
      {{ page.title }}
    </h1>
    <p>Published: {{ page.date | date: '%B %d, %Y' }}.</p>
    <p>Last updated: {{ page.last_modified_at | date: '%B %d, %Y' }}.</p>
  </header>

  <hr class="w-48 h-1 mx-auto my-8 bg-neutral-200 border-0">

  <article>
    {% if page.toc %}
      <h2>Table of Contents</h2>
      <div id="table-of-contents">
        {% toc %}
      </div>
    {% endif %}
    {{ content }}
  </article>

  {% if page.giscus_comments %}
    {% include giscus.liquid %}
  {% endif %}

  <button id="top-of-page" 
          class="fixed bottom-4 end-4 rounded-full p-3 w-11
                 shadow-md shadow-neutral-400
                 bg-primary-accent text-white"
          onclick="switchFunction();location.href='#'">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="3"
      stroke="currentColor">
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M4.5 10.5 12 3m0 0 7.5 7.5M12 3v18" />
    </svg>
  </button>
  <script>
    myButton = document.getElementById('top-of-page')
    myButton.addEventListener("animationend", () => myButton.classList.remove('squish-animation'));
    switchFunction = () => myButton.classList.add('squish-animation');
  </script>

</div>